.header{
    width: 100%;
    position: fixed;
    background-color: #3e5cbc;
    z-index: 100;
    top: 0px;
    height: 100px;
    left: 0px;
}
.nav-searchbar {
    display: flex;
    position: fixed;
    float: none;
    width: 80%;
    height: 60px;
    flex: 1 1 0px;
    border: 1px solid #637dc7;
    border-radius: 10px;
    z-index: 100;
    left: 10%;
    top: 20px;

}
.nav-left{
    display: flex;
    position: static;
    float: none;
    width: 90%;
}
.nav-right{
    display: flex;
    position: static;
    float: none;
    flex: 1 1 0px;
    box-shadow: 2px 2px 2px 2px #3f3ddd;;
}
.nav-input{
    background-color: transparent;
    color:white;
    width: 100%;
    /* reseting chrome input highlighting by default using below 3 lines */
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}    
