html{
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
.App {
  text-align: center;
  background-color: #3e5cbc;
  padding: 20px;
    position: absolute;;
    top:0;
    left: 0;
    width:100%;
    min-height:100%;
    overflow: scroll;
}

